@charset "utf-8";
/* CSS Document */

/********** PRIMARY **********/

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family: 'Lato', sans-serif !important;
	background: white;
}

section {
	margin-top:1.5%;
}

footer {
	background-color:#3D6BB4;
	color: #f1f1f1;
	margin-top:150px;
}

.maxWidth {
	max-width:960px;
}

/********** FONT **********/

p {
	font-family: 'Lato', sans-serif !important;
}

h2 {
	font-family: 'Lato', sans-serif !important;
	font-size:250% !important;
	padding-top:100px;
	padding-bottom:20px;
}

h2.no_padding {
	font-size:200% !important;
	padding-top:0;
	margin:0;
	padding-bottom:20px;
}

h3 {
	font-size:400% !important;
	font-family: 'Lato', sans-serif !important;
	padding-bottom:20px;
}

h4 {
	font-size:150% !important;
	font-family: 'Lato', sans-serif !important;
	padding-bottom:20px;
}

p.bold {
	font-weight: bold;
}

li {
	list-style: none;
}

/********** HEADER **********/

.logo_img {
	width:250px;
	position: absolute;
	left:0;
	top:25px;
}

#top {
	background: #3D6BB4;
	color: #f1f1f1;
}

.visuel_img {
	width:720px;
}

.visual_design {
	padding:20px;
	text-align: center;
	padding-top:110px;
	margin-right:100px;
	padding-bottom:40px;
}

.padding {
	padding-left:20px;
}

/********** NAV/MENU **********/

.header_content {
	width:100%;
	text-align: right;
	position: fixed;
	background-color:#3D6BB4;
	/* display: inline-block !important; */
	padding:20px;
	height:110px;
}

/*ul {
	margin-left:0 !important;
	margin:0 auto;
	padding:0;	
}*/

ul.ul_menu {
	margin-left:0 !important;
	margin:0 auto;
	padding:0;
	padding-right:20px;
}

.ul_menu a {
	height:100%;
	display:inline-block;
	padding:20px;
}

ul li {
	list-style: none;
	display:inline-block;
}

ul li a {
	color:#fff;
	text-decoration: none;
	font-family: 'Lato', sans-serif !important;
}

ul li:hover {
	background:white;
	color:#749CD3;
}

ul li a:hover {
	color:#749CD3 !important;
	text-decoration: none;
}

.toggle {
	width:100%;
	padding:10px 20px;
	text-align: right;
	box-sizing: border-box;
	color:#fff;
	font-size:30px;
	display:none;
}

.ds-menu-active {
	background-color:white;
	color:#749CD3;
}

.ul_menu.active {
	outline:1px solid #ccc;
	transition-property: opacity, visibility;
	transition-duration: .4s, 0s;
	transition-delay: 0s, .4s;
}

/********** SECTION: YDELSER **********/

.wrapper_services {
	width:100%;
	margin-top:20px;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows:minmax(400px, auto);
	grid-gap:20px;
}

.polaroid_services {
	width:100%;
	background-color: #749CD3;
	margin-top:30px;
	overflow: hidden;
	color:white;
	outline: 1px solid #ccc;
}

.container_services {
/*	width:69%;*/
	display:inline-block;
	padding-left:20px;
	padding-top:20px;
}

.services_img_div {
	width:32%;
	padding:10px;
	display:inline-block;
	background-color:white;
	text-align: center;
	vertical-align: top;
}

.services_img {
	width:100%;
}

/********** SECTION: ARBEJDE **********/

.wrapper_case {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:20px;
	grid-auto-rows:minmax(200px, auto);
	margin-top:20px;
}

.polaroid_work {
	width:100%;
}

.container_arbejde {
	width:100%;
}

.container_work {
	width:100%;
	background-color:#749CD3;
	text-align:center;
	line-height:35px;
	color:white;
}

.arbejde_img {
	width:100%;
}

.display_none {
	display:none;
}

.container_arbejde {
	outline: 1px solid #ccc;
}

.container_arbejde p {
	margin:0 !important;
}

/********** SECTION: OM OS **********/

.wrapper_about {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:75px;
	grid-auto-rows:minmax(200px, auto);
	margin-top:20px;
}

/********** SECTION: KONTAKT **********/

.wrapper_form {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap:20px;
	grid-auto-rows:minmax(200px, auto);
	margin-top:20px;
}

.wrapper_contact {
	width:100%;
}

.wrapper_users {
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap:20px;
	grid-auto-rows:minmax(200px, auto);
	margin-top:25px;
}

.container_persons {
	width:100%;
	display:inline-block;
}

.polaroid_contact {
	display:inline-block;
	background-color:#749CD3;
	color:white;
}

.container_person {
	margin-left:10px;
	line-height:30px;
	padding:10px;
}

.container_contact {
	width:100%;
	margin-top:75px;
	display:inline-block;
	vertical-align: top;
	color:white;
}

.space_top {
	margin-top:10px;
}

.set_width {
	width:100%;	
}

.gmap {
	width:80%;
	margin-top:20px;
}

.container_info {
	background:#749CD3;
	padding:20px;
	display:inline-block;
	vertical-align: top;
}

.padding_top {
	padding-top:15px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
	font-family: 'Lato', sans-serif;
	color:#212529 !important;
}

input[type=submit] {
    background-color: #3D6BB4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #25416E;
}

.container_form {
    background-color: #749CD3;
    padding: 20px;
}

select#country {
	margin-bottom:20px;
	background:white;
	color:#212529;
	border: 1px solid #ccc;
	font-family: 'Lato', sans-serif !important;
}

textarea {
	margin-bottom:20px !important;
	min-height:150px;
	max-height:300px;
	color:#ABABAB !important;
}

::placeholder {
	color:#ABABAB;
}

.kontakt {
	padding:35px;
	margin-top:100px;
}

label {
	font-weight: normal !important;
}

/********** SECTION: FOLLOW US **********/

.container-fluid.follow {
	margin-top:100px;
}

.follow_us {
	width:100%;
	padding:5%;
	background:#749CD3;
	margin-bottom:2%;
	color:white;
}

.content_center {
	text-align:center;
}

.text_center {
	text-align:center;
	margin:0 !important;
	vertical-align: top;
}

.follow_icon {
	width:10%;
	margin-top:30px;
	margin-left:20px;
}

.FI_nopad {
	margin-left:0 !important;
}

/********** FOOTER **********/

.container-fluid.maxWidth.footer {
	margin-bottom:0 !important;
	margin-top:100px;
	max-width:623px;
	padding-top:20px;
}

.footer_box {
	width:35px;
	height:35px;
	background-color:#212529;
	margin-left:10px;
	display:inline-block;
	margin-bottom: 5px;
}

.socialmedia_img {
	width:40px;
	margin-left:10px;
	display:inline-block;
	margin-bottom: 5px;
}

.column {
	width:60%;
	padding-top:2%;
	display: inline-block;
}

.column2 {
	padding-top:2%;
	margin-left:30px;
	display: inline-block;
}

p.bold {
	font-weight: bold;
}

p.copyright {
	text-align: center;
	padding-top:60px;
	padding-bottom:40px;
	margin-bottom:0 !important;
	color:white;
}

/********** OTHERS **********/

#ydelser {
	padding:20px;
}

#arbejde, #omos, #kontakt {
	margin-top:50px;
	padding:20px;
}

hr {
	margin-top:18px !important;
	margin-bottom:20px !important;
	display:none;
}

.radius {
	border-radius: 10px;
}

.radius_less {
	border-radius:5px;
}

li {
	font-family: 'Lato', sans-serif !important;
}

.hide {
	display:none !important;
}



